<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<form method="post"t>
    <label>Name: </label><input name="username" required placeholder="name"/><br>
    <label>Password: </label><input type="password" name="password" required placeholder="password"/><br>
    <input type="submit" name="login" value="Login"/>
    <input type="submit" name="register" value="Register"/>
</form>
<a href="index.html">Back to home</a><br>
</body>
</html>