<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<h1>To Do List</h1>
<form method="post">
    <label>Name: </label><input name="toDoItem" required placeholder="Item"/>
    <input type="submit" name="add" value="Add"/>
    <input type="submit" name="remove" value="Remove"/>

</form>
<h4>{task}</h4><br>
<a href="index.html">Back to home</a><br>
<form method="post">
    <input type="submit" name="logout" value="Logout"/>
</form>
</body>
</html>