<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Please Enter your name so you can be welcomed</h1>
    <form method="post"t>
        <label>Name: </label><input name="username" required placeholder="Your Name"/>
        <input type="submit" value="Say Hello"/>
    </form>
    <h4>{greeting}</h4><br>
    <a href="index.html">Back to home</a><br>
</body>
</html>